.env
/data/events/
/data/lineups/
/data/matches/
/data/three-sixty/
/data/openai/*.yaml
/data/openai/matches_summary/*
*.pyc

rag_challenge.db
rag_challenge.db-journal
04_create_openai_stored_procedures_api_key_included.sql
